/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
    margin: 0 auto;
    padding: 0 20px;
    min-width: 980px;
    max-width: 1400px;
    line-height: 1.2;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
  text-align: center;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}
